<h1>Listing pins</h1>

<table class ="table table-striped">
  <thead>
  <tr>
    <th class='col-md-4'> Description </th>
    <th class='col-md-4'> Owner </th>
  </tr>
  <tbody>
    <%= render @pins %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
