<div class="jumbotron">
  <h1 class="text-center">Welcome to a homepage!</h1>
    <p>Here we'll have something at some point!</p>
    <p class= "text-center">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </p>
</div>
