$btn-primary-bg: #390;

@import "bootstrap";

body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  margin : 5px;
  padding : 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 230px;
}

.box img {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}